.team-member {
    display: inline-block;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .member-info {
    margin-top: 10px;
  }

  .member-info img {
    border-radius: 70px; 
    border: 0px solid black;
  }